version: 2.1

jobs:
  lint:
      docker:
        - image: cimg/python:3.11.2
      steps:
          - checkout
          - run:
              name: install flake8
              command: pip install flake8==5.0.4
          - run:
              name: run flake8
              command: flake8 .
  test:
    docker:
      - image: cimg/python:3.10.7
    environment:
      AWS_BUCKET_NAME: "trade-tariff-persistence-development"
    steps:
      - checkout
      - restore_cache:
          key: deps-1.0.0-{{ checksum "requirements.txt" }}
      - run:
          name: "Setup environment"
          command: |
            python -m venv venv
            source venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps-1.0.0-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: "Integrate functionality"
          command: |
            touch .env
            source venv/bin/activate
            python process.py

  produce-appendix-5a:
    docker:
      - image: cimg/python:3.10.7
    parameters:
      bucket_name:
        type: string
    environment:
      AWS_BUCKET_NAME: << parameters.bucket_name >>
    steps:
      - checkout
      - restore_cache:
          key: deps-1.0.0-{{ checksum "requirements.txt" }}
      - run:
          name: "Setup environment"
          command: |
            python -m venv venv
            source venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps-1.0.0-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: "Generate the Appendix 5A file and upload it to our persistence bucket"
          command: |
            touch .env
            source venv/bin/activate
            python process.py

workflows:
  week_day:
    triggers:
      - schedule:
          cron: "00 21 * * 1,2,3,4,5"
          filters:
            branches:
              only:
                - main
    jobs:
      - produce-appendix-5a:
          context: trade-tariff
          name: 'development'
          bucket_name: trade-tariff-persistence-development
          filters:
            branches:
              only:
                - main
      - produce-appendix-5a:
          context: trade-tariff
          name: 'staging'
          bucket_name: trade-tariff-persistence-staging
          filters:
            branches:
              only:
                - main
      - produce-appendix-5a:
          context: trade-tariff
          name: 'production'
          bucket_name: trade-tariff-persistence-production
          filters:
            branches:
              only:
                - main

  ci:
    jobs:
      - lint:
          filters:
            branches:
              ignore:
                - main
      - test:
          context: trade-tariff
          filters:
            branches:
              ignore:
                - main
